<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>780278593810-nhd1l54dh3iho7e74h0nssd2dkdshhae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.780278593810-nhd1l54dh3iho7e74h0nssd2dkdshhae</string>
	<key>API_KEY</key>
	<string>AIzaSyCH3B5TmRFXsJ5XIJFZDmzQqP35UGOVDuM</string>
	<key>GCM_SENDER_ID</key>
	<string>780278593810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pvta.mobileHealthApp</string>
	<key>PROJECT_ID</key>
	<string>mhutest-31970</string>
	<key>STORAGE_BUCKET</key>
	<string>mhutest-31970.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:780278593810:ios:3541eb72c38e739e40dbcb</string>
	<key>DATABASE_URL</key>
	<string>https://mhutest-31970-default-rtdb.firebaseio.com</string>
</dict>
</plist>